@mixin b-formItem__orderButton ($btn-background, $btn-background-to, $width, $height, $font-size, $color, $border, $text-style, $border-radius){
  background: $btn-background;
  background: -moz-linear-gradient(top, $btn-background 0%, $btn-background-to 100%);
  background: -webkit-linear-gradient(top, $btn-background 0%, $btn-background-to 100%);
  background: linear-gradient(top, $btn-background 0%, $btn-background-to 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$btn-background, endColorstr=$btn-background-to,GradientType=0 ); /* IE6-9 */
  display: inline-block;
  width: $width;
  height: $height;
  color: $color;
  font-size: $font-size;
  border:$border;
  font-weight: $text-style;
  text-align: center;
  text-decoration: none;
  outline: none;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    inset 0px -1px 0px 0px rgba(0, 0, 0, 0.4);
  box-shadow:         inset 0px -1px 0px 0px rgba(0, 0, 0, 0.4);
  border-radius: $border-radius;
  padding: 3px 0 5px 0;

}

@mixin b-formItem__orderButton-hover ($btn-background-hover, $btn-background-to-hover) {
  background: $btn-background-hover;
  background: -moz-linear-gradient(top, $btn-background-hover 0%, $btn-background-to-hover 100%);
  background: -webkit-linear-gradient(top, $btn-background-hover 0%, $btn-background-to-hover 100%);
  background: linear-gradient(top, $btn-background-hover 0%, $btn-background-to-hover 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$btn-background-hover, endColorstr=$btn-background-to-hover, GradientType=0); /* IE6-9 */
}
