//colors
$primary-color: #000000;
$primary-color-bg: #f9f7ee;
$color-bg-innerblock: #ffffff;
$text-color-subtitle: #231f20;
$text-color-link: #2073b3;
$text-color-inform: #8d8d8d;
$btn-background: #67c022;
$btn-background-to:#4aac11;
$btn-background-hover: #54a722;
$btn-background-to-hover: #49a311;
$btn-color:#ffffff;

//font
$primary-font-family:Arial, 'Helvetica Neue', Helvetica, sans-serif;
$subtitle-font-family:'Open Sans', sans-serif;
$font-size-subtitle:32px;
$font-size-middle:14px;
$font-size-blocktitle:18px;
$primary-font-size:16px;

//border
$border-box-none:none;

//text-styles
$font-weight-bold:bold;





